
.signin__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 3rem;
}

.signin__title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.signin__content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 700px;
  padding: 1rem;
  height: 500px;
  background: #fff;
  padding: 2rem;
  border-radius: 20px;
}

.signin__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 1rem;
}

.signin__content section {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: 100%;
}

.signin__content section img {
  width: 250px;
}

.signin__content section:first-child {
  border-right: 2px solid #009c8c;
  padding-right: 1rem;
}

.signin__form > * {
  margin-bottom: 1rem;
}

.signin__link {
  text-decoration: none;
  color: #009c8c;
}

.signin__link:hover {
  text-decoration: underline;
}

