.section__title {
  font-family: 'Oswald', sans-serif;
  font-size: 4rem;
  line-height: 1.328125;
  font-weight: 700;
  color: #fff;
}

.promotions__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  padding: 5rem;
  background-color: #222;
  width: 100%;
  min-height: 100vh;
}

.promotions__title {
  font-size: 3rem;
  font-weight: 700;
  color: #FFF;
  margin-bottom: 4rem;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 4rem 2.5rem;
}
