.view__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  position: relative;
  width: 100%;
  gap: 2.5rem;
}

.view__container__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  width: 100%;
  max-width: 600px;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var( --background );
  box-shadow: var( --shadow );
}

.view__container__card__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

.view__container__card__header .view__name {
  font-size: 1.5rem;
  font-weight: 700;
  color: var( --primary );
}

.view__container__card__header .view__image-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 300px;
  gap: 1rem;
}

.view__container__card__header .view__image-item img {
  width: 100%;
  height: auto;
}

.view__container__card__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

.view__container__card__info .view__info-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  gap: 1rem;
  font-size: 1rem;
  font-weight: 400;
  color: var( --primary );
}

.view__container__card__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

.view__container__card__footer .view__images {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

.view__container__card__footer .view__images p {
  font-size: 1.5rem;
  font-weight: 700;
  color: var( --primary );
}

.view__container__card__footer .view__images .view__gallery {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax( 200px, 1fr ) );
  grid-gap: 1rem;
  width: 100%;
  gap: 1rem;
}

.view__container__card__footer .view__images .view__gallery article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.view__container__card__footer .view__images .view__gallery article section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 200px;
  height: 200px;
  border-radius: 0.5rem;
  overflow: hidden;
}

.view__container__card__footer .view__images .view__gallery article section img {
  width: 100%;
  height: auto;
}

.view__container__card__footer .view__images .view__gallery article section p {
  font-size: 1rem;
  font-weight: 400;
  color: var( --primary );
}

.toggle-radius {
  width: 100px;
  height: 50px;
  text-align: center;
  transition: all 0.2s ease;
  border-radius: 25px;
  border: none;
  position: relative;
  cursor: pointer;
}

.is-activate {
  background: #00bc9c;
  transition: all 0.5s ease-in-out;
}

.is-activate::before {
  background: #fff;
  content: "";
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  top: calc( 50% - 20px );
  right: calc( 0 - 20px );
}

.is-deactivate {
  background: #eb4f37;
  transition: all 0.5s ease-in-out;
}

.is-deactivate::before {
  background: #fff;
  content: "";
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  top: calc( 50% - 20px );
  left: 15px;
}

.button__view {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 250px;
  padding: 1rem;
  height: 50px;
  border-radius: 0.5rem;
  border: 3px solid #009C8C;
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  color: #222;
  cursor: pointer;
}

.button__view:hover {
  background-color: #009C8C;
  color: #fff;
}
