.content {
  min-height: 100vh;
  width: 100%;
  display: flex;
  color: #222;
}

#content__wrapper {
  width: 70%;
  height: 100%;
  float:left;
  transition: width .35s;
}

.sidebar__container.collapsed + #content__wrapper {
  width: 100%;
}

@media ( max-width: 700px ) {
  .content {
    display: flex;
    flex-direction: column;
  }
}

