.toggle-radius {
  width: 100px;
  height: 50px;
  text-align: center;
  transition: all 0.2s ease;
  border-radius: 25px;
  border: none;
  position: relative;
  cursor: pointer;
}

.is-activate {
  background: #00bc9c;
  transition: all 0.5s ease-in-out;
}

.is-activate::before {
  background: #fff;
  content: "";
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  top: calc( 50% - 20px );
  right: calc( 0 - 20px );
}

.is-deactivate {
  background: #eb4f37;
  transition: all 0.5s ease-in-out;
}

.is-deactivate::before {
  background: #fff;
  content: "";
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  top: calc( 50% - 20px );
  left: 15px;
}

@keyframe is-activate {
  0% {
    left: 0;
  }
  100% {
    left: 50%;
  }
}

@keyframe is-deactivate {
  0% {
    right: 0;
  }
  100% {
    right: 50%;
  }
}
